<a href="https://colab.research.google.com/github/OgutuOndati/MACHINE-LEARNING/blob/main/House_price_prediction_Linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from google.colab import files

In [2]:
uploaded = files.upload()

Saving practice_dataset.csv to practice_dataset.csv

In [3]:
dataset = pd.read_csv('practice_dataset.csv')

In [4]:
print(dataset.shape)
print(dataset.head)

(2930, 8)
<bound method NDFrame.head of       MS SubClass  Lot Area Street  Overall Qual  Overall Cond  Total Bsmt SF  \
0              20     31770   Pave             6             5         1080.0
1              20     11622   Pave             5             6          882.0
2              20     14267   Pave             6             6         1329.0
3              20     11160   Pave             7             5         2110.0
4              60     13830   Pave             5             5          928.0
...           ...       ...    ...           ...           ...            ...
2925           80      7937   Pave             6             6         1003.0
2926           20      8885   Pave             5             5          864.0
2927           85     10441   Pave             5             5          912.0
2928           20     10010   Pave             5             5         1389.0
2929           60      9627   Pave             7             5          996.0

     Heating  SalePrice
0       GasA     215000
1       GasA     105000
2       GasA     172000
3       GasA     244000
4       GasA     189900
...      ...        ...
2925    GasA     142500
2926    GasA     131000
2927    GasA     132000
2928    GasA     170000
2929    GasA     188000

[2930 rows x 8 columns]>

In [5]:
dataset.columns[dataset.isna().any()]

Index(['Total Bsmt SF'], dtype='object')

In [6]:
dataset['Total Bsmt SF'].fillna(float(dataset['Total Bsmt SF'].mean()), inplace=True)

In [7]:
dataset.columns[dataset.isna().any()]

Index([], dtype='object')

In [9]:
dataset

,MS SubClass,Lot Area,Street,Overall Qual,Overall Cond,Total Bsmt SF,Heating,SalePrice
0,20,31770,Pave,6,5,1080.0,GasA,215000
1,20,11622,Pave,5,6,882.0,GasA,105000
2,20,14267,Pave,6,6,1329.0,GasA,172000
3,20,11160,Pave,7,5,2110.0,GasA,244000
4,60,13830,Pave,5,5,928.0,GasA,189900
...,...,...,...,...,...,...,...,...
2925,80,7937,Pave,6,6,1003.0,GasA,142500
2926,20,8885,Pave,5,5,864.0,GasA,131000
2927,85,10441,Pave,5,5,912.0,GasA,132000
2928,20,10010,Pave,5,5,1389.0,GasA,170000
2929,60,9627,Pave,7,5,996.0,GasA,188000

In [11]:
dataset_street = pd.get_dummies(dataset['Street'])

In [13]:
dataset_new = pd.concat([dataset, dataset_street], axis=1)
print(), print(dataset_new)

      MS SubClass  Lot Area Street  Overall Qual  Overall Cond  Total Bsmt SF  \
0              20     31770   Pave             6             5         1080.0
1              20     11622   Pave             5             6          882.0
2              20     14267   Pave             6             6         1329.0
3              20     11160   Pave             7             5         2110.0
4              60     13830   Pave             5             5          928.0
...           ...       ...    ...           ...           ...            ...
2925           80      7937   Pave             6             6         1003.0
2926           20      8885   Pave             5             5          864.0
2927           85     10441   Pave             5             5          912.0
2928           20     10010   Pave             5             5         1389.0
2929           60      9627   Pave             7             5          996.0

     Heating  SalePrice  Grvl  Pave
0       GasA     215000     0     1
1       GasA     105000     0     1
2       GasA     172000     0     1
3       GasA     244000     0     1
4       GasA     189900     0     1
...      ...        ...   ...   ...
2925    GasA     142500     0     1
2926    GasA     131000     0     1
2927    GasA     132000     0     1
2928    GasA     170000     0     1
2929    GasA     188000     0     1

[2930 rows x 10 columns]

(None, None)

In [14]:
dataset_heating = pd.get_dummies(dataset_new['Heating'])

In [16]:
dataset_new_new = pd.concat([dataset_new, dataset_heating], axis =1)
print(), print(dataset_new_new)

      MS SubClass  Lot Area Street  Overall Qual  Overall Cond  Total Bsmt SF  \
0              20     31770   Pave             6             5         1080.0
1              20     11622   Pave             5             6          882.0
2              20     14267   Pave             6             6         1329.0
3              20     11160   Pave             7             5         2110.0
4              60     13830   Pave             5             5          928.0
...           ...       ...    ...           ...           ...            ...
2925           80      7937   Pave             6             6         1003.0
2926           20      8885   Pave             5             5          864.0
2927           85     10441   Pave             5             5          912.0
2928           20     10010   Pave             5             5         1389.0
2929           60      9627   Pave             7             5          996.0

     Heating  SalePrice  Grvl  Pave  Floor  GasA  GasW  Grav  OthW  Wall
0       GasA     215000     0     1      0     1     0     0     0     0
1       GasA     105000     0     1      0     1     0     0     0     0
2       GasA     172000     0     1      0     1     0     0     0     0
3       GasA     244000     0     1      0     1     0     0     0     0
4       GasA     189900     0     1      0     1     0     0     0     0
...      ...        ...   ...   ...    ...   ...   ...   ...   ...   ...
2925    GasA     142500     0     1      0     1     0     0     0     0
2926    GasA     131000     0     1      0     1     0     0     0     0
2927    GasA     132000     0     1      0     1     0     0     0     0
2928    GasA     170000     0     1      0     1     0     0     0     0
2929    GasA     188000     0     1      0     1     0     0     0     0

[2930 rows x 16 columns]

(None, None)

In [20]:
dataset_new_new.drop(columns = ['Street', 'Heating'])
print(dataset_new_new)

      MS SubClass  Lot Area Street  Overall Qual  Overall Cond  Total Bsmt SF  \
0              20     31770   Pave             6             5         1080.0
1              20     11622   Pave             5             6          882.0
2              20     14267   Pave             6             6         1329.0
3              20     11160   Pave             7             5         2110.0
4              60     13830   Pave             5             5          928.0
...           ...       ...    ...           ...           ...            ...
2925           80      7937   Pave             6             6         1003.0
2926           20      8885   Pave             5             5          864.0
2927           85     10441   Pave             5             5          912.0
2928           20     10010   Pave             5             5         1389.0
2929           60      9627   Pave             7             5          996.0

     Heating  SalePrice  Grvl  Pave  Floor  GasA  GasW  Grav  OthW  Wall
0       GasA     215000     0     1      0     1     0     0     0     0
1       GasA     105000     0     1      0     1     0     0     0     0
2       GasA     172000     0     1      0     1     0     0     0     0
3       GasA     244000     0     1      0     1     0     0     0     0
4       GasA     189900     0     1      0     1     0     0     0     0
...      ...        ...   ...   ...    ...   ...   ...   ...   ...   ...
2925    GasA     142500     0     1      0     1     0     0     0     0
2926    GasA     131000     0     1      0     1     0     0     0     0
2927    GasA     132000     0     1      0     1     0     0     0     0
2928    GasA     170000     0     1      0     1     0     0     0     0
2929    GasA     188000     0     1      0     1     0     0     0     0

[2930 rows x 16 columns]

In [21]:
dataset_new_new

,MS SubClass,Lot Area,Street,Overall Qual,Overall Cond,Total Bsmt SF,Heating,SalePrice,Grvl,Pave,Floor,GasA,GasW,Grav,OthW,Wall
0,20,31770,Pave,6,5,1080.0,GasA,215000,0,1,0,1,0,0,0,0
1,20,11622,Pave,5,6,882.0,GasA,105000,0,1,0,1,0,0,0,0
2,20,14267,Pave,6,6,1329.0,GasA,172000,0,1,0,1,0,0,0,0
3,20,11160,Pave,7,5,2110.0,GasA,244000,0,1,0,1,0,0,0,0
4,60,13830,Pave,5,5,928.0,GasA,189900,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,80,7937,Pave,6,6,1003.0,GasA,142500,0,1,0,1,0,0,0,0
2926,20,8885,Pave,5,5,864.0,GasA,131000,0,1,0,1,0,0,0,0
2927,85,10441,Pave,5,5,912.0,GasA,132000,0,1,0,1,0,0,0,0
2928,20,10010,Pave,5,5,1389.0,GasA,170000,0,1,0,1,0,0,0,0
2929,60,9627,Pave,7,5,996.0,GasA,188000,0,1,0,1,0,0,0,0

In [23]:
dataset_new_new.drop(dataset_new_new.columns[[2, 6]], axis = 1, inplace = True)
dataset_new_new

,MS SubClass,Lot Area,Overall Cond,Total Bsmt SF,SalePrice,Pave,Floor,GasA,GasW,Grav,OthW,Wall
0,20,31770,5,1080.0,215000,1,0,1,0,0,0,0
1,20,11622,6,882.0,105000,1,0,1,0,0,0,0
2,20,14267,6,1329.0,172000,1,0,1,0,0,0,0
3,20,11160,5,2110.0,244000,1,0,1,0,0,0,0
4,60,13830,5,928.0,189900,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2925,80,7937,6,1003.0,142500,1,0,1,0,0,0,0
2926,20,8885,5,864.0,131000,1,0,1,0,0,0,0
2927,85,10441,5,912.0,132000,1,0,1,0,0,0,0
2928,20,10010,5,1389.0,170000,1,0,1,0,0,0,0
2929,60,9627,5,996.0,188000,1,0,1,0,0,0,0

Segregate data into X input and Y output

In [31]:
X = dataset_new_new.iloc[:,[0,1,2,3,5,6,7,8,9,10,11]].values
X

array([[2.0000e+01, 3.1770e+04, 5.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.0000e+01, 1.1622e+04, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.0000e+01, 1.4267e+04, 6.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       ...,
       [8.5000e+01, 1.0441e+04, 5.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.0000e+01, 1.0010e+04, 5.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [6.0000e+01, 9.6270e+03, 5.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [33]:
Y = dataset_new_new.iloc[:,[4]].values
print(Y.shape)
Y

(2930, 1)

array([[215000],
       [105000],
       [172000],
       ...,
       [132000],
       [170000],
       [188000]])

splitting data into train and test

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=0)

TRAINING

In [35]:
from sklearn.linear_model import LinearRegression

In [36]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

predicted house price

In [38]:
x = [[20,3170,5,1080,1,0,1,0,0,0,0,]]
predictedresult = model.predict(x)
print(predictedresult)

[[169865.20834027]]